nuke-card {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: var(--card-radius);
  background: var(--card-background);
  color: var(--card-color);
  overflow: hidden;
}
nuke-card-header {
  display: block;
  padding: var(--card-header-padding);
  font-size: var(--card-header-font-size);
  font-weight: var(--card-header-font-weight);
  color: var(--card-header-color);
  border-bottom: 1px solid var(--card-header-border-color);
}
nuke-card-content {
  display: block;
  flex: 1;
  padding: var(--card-content-padding);
}
nuke-card-actions {
  display: flex;
  gap: var(--card-actions-gap);
  padding: var(--card-actions-padding);
  border-top: 1px solid var(--card-actions-border-color);
  justify-content: flex-end;
}
nuke-card:is(.nuke-style-1, [nuke-style="1"]) {
  background: var(--card-1-background);
  border: var(--card-1-border);
  box-shadow: var(--card-1-shadow);
}
nuke-card:is(.nuke-style-2, [nuke-style="2"]) {
  background: var(--card-2-background);
  border: var(--card-2-border);
  box-shadow: var(--card-2-shadow);
}
nuke-card:is(.nuke-style-3, [nuke-style="3"]) {
  background: var(--card-3-background);
  border: var(--card-3-border);
  box-shadow: var(--card-3-shadow);
}
nuke-card:not(:has(nuke-card-header)) nuke-card-content {
  border-top: none;
}
nuke-card:not(:has(nuke-card-actions)) nuke-card-content {
  border-bottom: none;
}
nuke-card:not(:has(nuke-card-header)):not(:has(nuke-card-actions)) nuke-card-content {
  padding: var(--card-padding);
}
