:root {
  /* core */
  --card-padding: var(--space-2);
  --card-radius: var(--border-radius);
  --card-background: var(--background-2);
  --card-color: var(--on-background);
  --card-header-padding: var(--space-2);
  --card-header-font-size: var(--font-size-4);
  --card-header-font-weight: 600;
  --card-header-color: var(--on-background);
  --card-header-border-color: var(--border-color-1);
  --card-content-padding: var(--space-2);
  --card-actions-padding: var(--space-2);
  --card-actions-gap: var(--space-1);
  --card-actions-border-color: var(--border-color-1);

  /* style 1 */
  --card-1-background: transparent;
  --card-1-border: 1px solid var(--border-color-1);
  --card-1-shadow: none;

  /* style 2 */
  --card-2-background: var(--background-2);
  --card-2-border: 1px solid var(--border-color-1);
  --card-2-shadow: var(--box-shadow-1);

  /* style 3 */
  --card-3-background: var(--background-2);
  --card-3-border: 2px solid var(--border-color-1);
  --card-3-shadow: var(--box-shadow-2);
}
