/* Section - Structural container */
section {
  display: block;
}

/* Style 1 - Outlined */
:is(body, *)[nuke-style="1"] section,
section[nuke-style="1"] {
  padding: var(--space-2);
  background: transparent;
  border: 1px solid var(--border-color-1);
  border-radius: var(--border-radius-1);
}

/* Style 2 - Filled with border */
:is(body, *)[nuke-style="2"] section,
section[nuke-style="2"] {
  padding: var(--space-2);
  background: var(--background-3);
  border: 1px solid var(--border-color-1);
  border-radius: var(--border-radius-1);
}
