:root {
  /* core */
  --button-height: var(--height-2);
  --button-padding-x: var(--space-2);
  --button-font-size: var(--font-size-1);
  --button-font-weight: 500;
  --button-radius: var(--border-radius);
  --button-gap: var(--space-1);
  --button-transition: var(--transition-fast);

  /* style 1 */
  --button-1-bg: transparent;
  --button-1-color: var(--on-background);
  --button-1-border: var(--border-2);
  --button-1-hover-bg: var(--background-3);
  --button-1-hover-color: var(--on-background);

  /* style 2 */
  --button-2-bg: var(--background-3);
  --button-2-color: var(--on-background);
  --button-2-hover-bg: var(--border-1);
  --button-2-hover-color: var(--on-background);

  /* style 3 */
  --button-3-bg: var(--background-2);
  --button-3-color: var(--on-background);
  --button-3-border: var(--border-2);
  --button-3-hover-bg: var(--background-3);
  --button-3-hover-color: var(--on-background);
  --button-3-hover-border: var(--border-2);
}
