pre {
  margin: 0 0 var(--pre-margin-bottom) 0;
  padding: var(--pre-padding);
  background: var(--pre-bg);
  color: var(--pre-color);
  font-family: var(--pre-font-family);
  font-size: var(--pre-font-size);
  line-height: var(--pre-line-height);
  border-radius: var(--pre-radius);
  overflow-x: auto;
}
pre code {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
}
:is(body, *)[nuke-style="1"] pre,
pre[nuke-style="1"] {
  background: var(--pre-1-bg);
  color: var(--pre-1-color);
  border: var(--pre-1-border);
}
:is(body, *)[nuke-style="2"] pre,
pre[nuke-style="2"] {
  background: var(--pre-2-bg);
  color: var(--pre-2-color);
  border: var(--pre-2-border);
}
:is(body, *)[nuke-style="3"] pre,
pre[nuke-style="3"] {
  background: var(--pre-3-bg);
  color: var(--pre-3-color);
  border: var(--pre-3-border);
}
