:root {
  /* core */
  --radio-size: var(--height-1);
  --radio-transition: var(--transition-fast);
  --radio-bg: var(--background-2);
  --radio-border: var(--border-color-1);
  --radio-checked-bg: var(--background-2);
  --radio-checked-border: var(--on-background);
  --radio-dot: var(--on-background);
  --radio-focus-ring: var(--border-color-2);

  /* style 1 */
  --radio-1-bg: transparent;
  --radio-1-border: var(--border-color-2);
  --radio-1-checked-bg: transparent;
  --radio-1-checked-border: var(--on-background);
  --radio-1-dot: var(--on-background);
  --radio-1-dot-size: calc(var(--height-1) / 5);

  /* style 2 */
  --radio-2-bg: var(--background-4);
  --radio-2-border: transparent;
  --radio-2-checked-bg: var(--background-4);
  --radio-2-checked-border: transparent;
  --radio-2-dot: var(--on-background);
  --radio-2-dot-size: calc(var(--height-1) / 3);

  /* style 3 */
  --radio-3-bg: var(--background-4);
  --radio-3-border: var(--border-color-1);
  --radio-3-checked-bg: var(--background-4);
  --radio-3-checked-border: var(--on-background);
  --radio-3-dot: var(--on-background);
  --radio-3-dot-size: calc(var(--height-1) / 3);
}
