/* Radio - Reset */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* Radio - Base */
input[type="radio"] {
  display: inline-block;
  width: var(--height-1);
  height: var(--height-1);
  min-width: var(--height-1);
  min-height: var(--height-1);
  background: var(--background-4);
  border: 2px solid var(--border-color-1);
  border-radius: 50%;
  transition:
    background-color var(--transition-fast),
    border-color var(--transition-fast);
  position: relative;
  vertical-align: middle;
}
input[type="radio"]:checked {
  background-color: var(--background-4);
  border-color: var(--on-background);
}
input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: var(--on-background);
  border-radius: 50%;
}
input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 0 3px hsla(210, 100%, 50%, 0.1);
}
input[type="radio"]:hover:not(:disabled) {
  border-color: var(--on-background);
}

/* Style 1 - Outlined */
:is(body, *)[nuke-style="1"] input[type="radio"],
input[type="radio"][nuke-style="1"] {
  background: transparent;
  border: 1px solid var(--border-color-2);
}
:is(body, *)[nuke-style="1"] input[type="radio"]:checked,
input[type="radio"][nuke-style="1"]:checked {
  background-color: transparent;
  border-color: var(--on-background);
}
:is(body, *)[nuke-style="1"] input[type="radio"]:checked::before,
input[type="radio"][nuke-style="1"]:checked::before {
  background: var(--on-background);
  width: calc(var(--height-1) / 5);
  height: calc(var(--height-1) / 5);
}

/* Style 2 - Filled */
:is(body, *)[nuke-style="2"] input[type="radio"],
input[type="radio"][nuke-style="2"] {
  background: var(--background-4);
  border: none;
}
:is(body, *)[nuke-style="2"] input[type="radio"]:checked,
input[type="radio"][nuke-style="2"]:checked {
  background-color: var(--background-4);
  border-color: transparent;
}
:is(body, *)[nuke-style="2"] input[type="radio"]:checked::before,
input[type="radio"][nuke-style="2"]:checked::before {
  background: var(--on-background);
  width: calc(var(--height-1) / 3);
  height: calc(var(--height-1) / 3);
}
:is(body, *)[nuke-style="2"] input[type="radio"]:hover:not(:disabled),
input[type="radio"][nuke-style="2"]:hover:not(:disabled) {
  background: var(--background-4);
}

/* Style 3 - Strong border */
:is(body, *)[nuke-style="3"] input[type="radio"],
input[type="radio"][nuke-style="3"] {
  background: var(--background-4);
  border: 2px solid var(--border-color-1);
}
:is(body, *)[nuke-style="3"] input[type="radio"]:checked,
input[type="radio"][nuke-style="3"]:checked {
  background-color: var(--background-4);
  border-color: var(--on-background);
}
:is(body, *)[nuke-style="3"] input[type="radio"]:checked::before,
input[type="radio"][nuke-style="3"]:checked::before {
  background: var(--on-background);
  width: calc(var(--height-1) / 3);
  height: calc(var(--height-1) / 3);
}

/* Disabled */
input[type="radio"]:disabled {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
}
