input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
input[type="radio"] {
  display: inline-block;
  width: var(--radio-size);
  height: var(--radio-size);
  min-width: var(--radio-size);
  min-height: var(--radio-size);
  background: var(--radio-bg);
  border: 2px solid var(--radio-border);
  border-radius: 50%;
  transition:
    background-color var(--radio-transition),
    border-color var(--radio-transition);
  position: relative;
  vertical-align: middle;
}
input[type="radio"]:checked {
  background-color: var(--radio-checked-bg);
  border-color: var(--radio-checked-border);
}
input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: var(--radio-dot);
  border-radius: 50%;
}
input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 0 3px hsla(210, 100%, 50%, 0.1);
}
input[type="radio"]:hover:not(:disabled) {
  border-color: var(--radio-checked-border);
}
input[type="radio"]:is(.nuke-style-1, [nuke-style="1"]) {
  background: var(--radio-1-bg);
  border: 1px solid var(--radio-1-border);
}
input[type="radio"]:is(.nuke-style-1, [nuke-style="1"]):checked {
  background-color: var(--radio-1-checked-bg);
  border-color: var(--radio-1-checked-border);
}
input[type="radio"]:is(.nuke-style-1, [nuke-style="1"]):checked::before {
  background: var(--radio-1-dot);
  width: var(--radio-1-dot-size);
  height: var(--radio-1-dot-size);
}
input[type="radio"]:is(.nuke-style-2, [nuke-style="2"]) {
  background: var(--radio-2-bg);
  border: none;
}
input[type="radio"]:is(.nuke-style-2, [nuke-style="2"]):checked {
  background-color: var(--radio-2-checked-bg);
  border-color: var(--radio-2-checked-border);
}
input[type="radio"]:is(.nuke-style-2, [nuke-style="2"]):checked::before {
  background: var(--radio-2-dot);
  width: var(--radio-2-dot-size);
  height: var(--radio-2-dot-size);
}
input[type="radio"]:is(.nuke-style-2, [nuke-style="2"]):hover:not(:disabled) {
  background: var(--background-4);
}
input[type="radio"]:is(.nuke-style-3, [nuke-style="3"]) {
  background: var(--radio-3-bg);
  border: 2px solid var(--radio-3-border);
}
input[type="radio"]:is(.nuke-style-3, [nuke-style="3"]):checked {
  background-color: var(--radio-3-checked-bg);
  border-color: var(--radio-3-checked-border);
}
input[type="radio"]:is(.nuke-style-3, [nuke-style="3"]):checked::before {
  background: var(--radio-3-dot);
  width: var(--radio-3-dot-size);
  height: var(--radio-3-dot-size);
}
input[type="radio"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
