/* Radio - Reset */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* Radio - Base */
input[type="radio"] {
  display: inline-block;
  width: var(--controls-height-small);
  height: var(--controls-height-small);
  min-width: var(--controls-height-small);
  min-height: var(--controls-height-small);
  background: var(--background-4);
  border: 2px solid var(--border-color-1);
  border-radius: 50%;
  transition:
    background-color var(--transition-fast),
    border-color var(--transition-fast);
  position: relative;
  vertical-align: middle;
}
input[type="radio"]:checked {
  background-color: var(--background-4);
  border-color: var(--color-text-1);
}
input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--controls-height-small) * var(--ratio));
  height: calc(var(--controls-height-small) * var(--ratio));
  background: var(--color-text-1);
  border-radius: 50%;
}
input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 0 3px hsla(210, 100%, 50%, 0.1);
}
input[type="radio"]:hover:not(:disabled) {
  border-color: var(--color-text-1);
}

/* Style 1 - Outlined */
:is(body, *)[nuke-style="1"] input[type="radio"],
input[type="radio"][nuke-style="1"] {
  background: transparent;
  border: 1px solid var(--border-color-2);
}
:is(body, *)[nuke-style="1"] input[type="radio"]:checked,
input[type="radio"][nuke-style="1"]:checked {
  background-color: transparent;
  border-color: var(--color-text-1);
}
:is(body, *)[nuke-style="1"] input[type="radio"]:checked::before,
input[type="radio"][nuke-style="1"]:checked::before {
  background: var(--color-text-1);
  width: calc(var(--controls-height-small) * var(--ratio));
  height: calc(var(--controls-height-small) * var(--ratio));
}

/* Style 2 - Filled with border */
:is(body, *)[nuke-style="2"] input[type="radio"],
input[type="radio"][nuke-style="2"] {
  background: var(--background-4);
  border: 1px solid var(--border-color-1);
}
:is(body, *)[nuke-style="2"] input[type="radio"]:checked,
input[type="radio"][nuke-style="2"]:checked {
  background-color: var(--background-4);
  border-color: var(--color-text-1);
}
:is(body, *)[nuke-style="2"] input[type="radio"]:checked::before,
input[type="radio"][nuke-style="2"]:checked::before {
  background: var(--color-text-1);
  width: calc(var(--controls-height-small) * var(--ratio));
  height: calc(var(--controls-height-small) * var(--ratio));
}
:is(body, *)[nuke-style="2"] input[type="radio"]:hover:not(:disabled),
input[type="radio"][nuke-style="2"]:hover:not(:disabled) {
  border-color: var(--color-text-1);
}

/* Disabled */
input[type="radio"]:disabled {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
}
