/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background: var(--background-2);
}
th {
  padding: var(--space-2);
  text-align: left;
  font-weight: var(--font-weight-bold);
  color: var(--on-background);
  font-size: var(--font-size-2);
}
td {
  padding: var(--space-2);
  color: var(--on-background);
  font-size: var(--font-size-2);
}
tbody tr {
  transition: background-color var(--transition-fast);
}
tbody tr:hover {
  background: var(--background-3);
}

/* Style 1 - Lines */
:is(body, *)[nuke-style="1"] table,
table[nuke-style="1"] {
  border: none;
}
:is(body, *)[nuke-style="1"] table thead,
table[nuke-style="1"] thead {
  border-bottom: 2px solid var(--border-color-1);
}
:is(body, *)[nuke-style="1"] table tbody tr,
table[nuke-style="1"] tbody tr {
  border-bottom: 1px solid var(--border-color-1);
}
:is(body, *)[nuke-style="1"] table tbody tr:last-child,
table[nuke-style="1"] tbody tr:last-child {
  border-bottom: none;
}

/* Style 2 - Striped */
:is(body, *)[nuke-style="2"] table,
table[nuke-style="2"] {
  border: none;
}
:is(body, *)[nuke-style="2"] table thead,
table[nuke-style="2"] thead {
  border: none;
}
:is(body, *)[nuke-style="2"] table tbody tr,
table[nuke-style="2"] tbody tr {
  border: none;
}
:is(body, *)[nuke-style="2"] table tbody tr:nth-child(even),
table[nuke-style="2"] tbody tr:nth-child(even) {
  background: var(--background-3);
}
:is(body, *)[nuke-style="2"] table tbody tr:hover,
table[nuke-style="2"] tbody tr:hover {
  background: var(--background-4);
}

/* Style 3 - Grid */
:is(body, *)[nuke-style="3"] table,
table[nuke-style="3"] {
  border: 1px solid var(--border-color-1);
}
:is(body, *)[nuke-style="3"] table thead,
table[nuke-style="3"] thead {
  background: var(--background-3);
  border-bottom: 1px solid var(--border-color-1);
}
:is(body, *)[nuke-style="3"] table th,
table[nuke-style="3"] th {
  border: 1px solid var(--border-color-1);
}
:is(body, *)[nuke-style="3"] table td,
table[nuke-style="3"] td {
  border: 1px solid var(--border-color-1);
}
