:root {
  /* core */
  --table-bg: var(--background-2);
  --table-border: var(--border-color-1);
  --table-radius: var(--border-radius);
  --table-color: var(--on-background);
  --table-font-size: var(--font-size-2);
  --table-cell-padding: var(--space-2);
  --table-transition: var(--transition-fast);
  --table-head-bg: var(--background-3);
  --table-head-color: var(--on-background);
  --table-head-font-weight: var(--font-weight-bold);
  --table-row-hover-bg: var(--background-3);

  /* style 1 */
  --table-1-border: none;
  --table-1-row-border: 1px solid var(--border-color-1);
  --table-1-head-border: 2px solid var(--border-color-1);

  /* style 2 */
  --table-2-border: none;
  --table-2-stripe-bg: var(--background-3);
  --table-2-hover-bg: var(--background-4);

  /* style 3 */
  --table-3-border: 1px solid var(--border-color-1);
  --table-3-cell-border: 1px solid var(--border-color-1);
  --table-3-head-bg: var(--background-3);
}
