a {
  color: inherit;
  text-decoration: none;
}
a {
  color: var(--link-color);
  text-decoration: var(--link-decoration);
  cursor: pointer;
  transition: color var(--link-transition), text-decoration var(--link-transition);
}
a:hover {
  color: var(--link-hover-color);
  text-decoration: var(--link-hover-decoration);
}
a:focus-visible {
  outline: 2px solid var(--link-focus-color);
  outline-offset: 2px;
  border-radius: 2px;
}
:is(body, *)[nuke-style="1"] a,
a[nuke-style="1"] {
  color: var(--link-1-color);
  text-decoration: var(--link-1-decoration);
  text-underline-offset: 3px;
}
:is(body, *)[nuke-style="1"] a:hover,
a[nuke-style="1"]:hover {
  color: var(--link-1-hover-color);
  text-decoration: var(--link-1-hover-decoration);
}
:is(body, *)[nuke-style="2"] a,
a[nuke-style="2"] {
  color: var(--link-2-color);
  text-decoration: var(--link-2-decoration);
}
:is(body, *)[nuke-style="2"] a:hover,
a[nuke-style="2"]:hover {
  color: var(--link-2-hover-color);
  text-decoration: var(--link-2-hover-decoration);
}
:is(body, *)[nuke-style="3"] a,
a[nuke-style="3"] {
  color: var(--link-3-color);
  text-decoration: var(--link-3-decoration);
  text-decoration-thickness: var(--link-3-decoration-thickness);
  text-underline-offset: 3px;
}
:is(body, *)[nuke-style="3"] a:hover,
a[nuke-style="3"]:hover {
  color: var(--link-3-hover-color);
  text-decoration: var(--link-3-hover-decoration);
}
