a {
  color: inherit;
  text-decoration: none;
}
a {
  color: var(--link-color);
  text-decoration: var(--link-decoration);
  cursor: pointer;
  transition: color var(--link-transition), text-decoration var(--link-transition);
}
a:hover {
  color: var(--link-hover-color);
  text-decoration: var(--link-hover-decoration);
}
a:focus-visible {
  outline: 2px solid var(--link-focus-color);
  outline-offset: 2px;
  border-radius: 2px;
}
a:is(.nuke-style-1, [nuke-style="1"]) {
  color: var(--link-1-color);
  text-decoration: var(--link-1-decoration);
  text-underline-offset: 3px;
}
a:is(.nuke-style-1, [nuke-style="1"]):hover {
  color: var(--link-1-hover-color);
  text-decoration: var(--link-1-hover-decoration);
}
a:is(.nuke-style-2, [nuke-style="2"]) {
  color: var(--link-2-color);
  text-decoration: var(--link-2-decoration);
}
a:is(.nuke-style-2, [nuke-style="2"]):hover {
  color: var(--link-2-hover-color);
  text-decoration: var(--link-2-hover-decoration);
}
a:is(.nuke-style-3, [nuke-style="3"]) {
  color: var(--link-3-color);
  text-decoration: var(--link-3-decoration);
  text-decoration-thickness: var(--link-3-decoration-thickness);
  text-underline-offset: 3px;
}
a:is(.nuke-style-3, [nuke-style="3"]):hover {
  color: var(--link-3-hover-color);
  text-decoration: var(--link-3-hover-decoration);
}
