input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
input[type="checkbox"] {
  display: inline-block;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  min-width: var(--checkbox-size);
  min-height: var(--checkbox-size);
  border-radius: var(--checkbox-radius);
  transition:
    background-color var(--checkbox-transition),
    border-color var(--checkbox-transition);
  position: relative;
  vertical-align: middle;
}
input[type="checkbox"]:is(.nuke-style-1, [nuke-style="1"]) {
  background: var(--checkbox-1-bg);
  border: 1px solid var(--checkbox-1-border);
}
input[type="checkbox"]:is(.nuke-style-1, [nuke-style="1"]):checked {
  background: var(--checkbox-1-checked-bg);
  border-color: var(--checkbox-1-checked-border);
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5L5 9L13 1' stroke='%23006fee' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
input[type="checkbox"]:is(.nuke-style-1, [nuke-style="1"]):hover:not(:disabled) {
  border-color: var(--checkbox-1-checked-border);
}
input[type="checkbox"]:is(.nuke-style-1, [nuke-style="1"]):focus {
  outline: none;
  box-shadow: 0 0 0 3px hsla(210, 60%, 50%, 0.08);
}
input[type="checkbox"]:is(.nuke-style-2, [nuke-style="2"]) {
  background: var(--checkbox-2-bg);
  border: none;
}
input[type="checkbox"]:is(.nuke-style-2, [nuke-style="2"]):checked {
  background: var(--checkbox-2-checked-bg);
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5L5 9L13 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
input[type="checkbox"]:is(.nuke-style-2, [nuke-style="2"]):hover:not(:disabled) {
  background: hsl(0, 0%, 93%);
}
input[type="checkbox"]:is(.nuke-style-2, [nuke-style="2"]):hover:checked:not(:disabled) {
  background: hsl(210, 60%, 55%);
}
input[type="checkbox"]:is(.nuke-style-2, [nuke-style="2"]):focus {
  outline: none;
  box-shadow: 0 0 0 3px hsla(210, 60%, 50%, 0.08);
}
input[type="checkbox"]:is(.nuke-style-3, [nuke-style="3"]) {
  background: var(--checkbox-3-bg);
  border: 2px solid var(--checkbox-3-border);
}
input[type="checkbox"]:is(.nuke-style-3, [nuke-style="3"]):checked {
  background: var(--checkbox-3-checked-bg);
  border-color: var(--checkbox-3-checked-border);
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5L5 9L13 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
input[type="checkbox"]:is(.nuke-style-3, [nuke-style="3"]):hover:not(:disabled) {
  border-color: var(--checkbox-3-checked-border);
}
input[type="checkbox"]:is(.nuke-style-3, [nuke-style="3"]):focus {
  outline: none;
  box-shadow: 0 0 0 3px hsla(210, 60%, 50%, 0.1);
}
input[type="checkbox"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
