:root {
  /* core */
  --nav-padding: var(--space-2);
  --nav-gap: var(--space-2);
  --nav-link-color: var(--on-background);
  --nav-link-hover-color: var(--color-1);
  --nav-link-transition: var(--transition-fast);

  /* style 1 */
  --nav-1-bg: transparent;
  --nav-1-gap: var(--space-3);
  --nav-1-link-separator: hsl(var(--neutral-base), 20%);
  --nav-1-link-hover-color: var(--color-1);

  /* style 2 */
  --nav-2-bg: transparent;
  --nav-2-gap: var(--space-2);
  --nav-2-link-hover-bg: var(--background-2);
  --nav-2-link-hover-color: var(--color-1);
  --nav-2-link-padding: var(--space-1) var(--space-2);
  --nav-2-link-radius: var(--border-radius);

  /* style 3 */
  --nav-3-bg: var(--background-2);
  --nav-3-border: var(--border-color-1);
  --nav-3-gap: var(--space-2);
  --nav-3-padding: var(--space-2) var(--space-3);
  --nav-3-link-hover-bg: var(--background-3);
  --nav-3-link-hover-color: var(--color-1);
  --nav-3-link-padding: var(--space-1) var(--space-2);
  --nav-3-link-radius: var(--border-radius);
}
