/* Navigation */
nav {
  padding: var(--space-2);
  display: flex;
  gap: var(--space-2);
}
nav a {
  color: var(--color-text-1);
  text-decoration: none;
  transition: color var(--transition-fast), background-color var(--transition-fast);
}
nav a:hover {
  color: var(--color-1);
}

/* Style 1 - Outlined */
:is(body, *)[nuke-style="1"] nav,
nav[nuke-style="1"] {
  display: flex;
  flex-direction: row;
  background: transparent;
  border: 1px solid var(--border-color-1);
  border-radius: var(--border-radius-1);
  gap: var(--space-2);
  padding: var(--space-2);
}
:is(body, *)[nuke-style="1"] nav a,
nav[nuke-style="1"] a {
  padding: var(--space-1) var(--space-2);
  border-radius: var(--border-radius-1);
}
:is(body, *)[nuke-style="1"] nav a:hover,
nav[nuke-style="1"] a:hover {
  background: var(--background-3);
}

/* Style 2 - Filled with border */
:is(body, *)[nuke-style="2"] nav,
nav[nuke-style="2"] {
  display: flex;
  flex-direction: row;
  background: var(--background-4);
  border: 1px solid var(--border-color-1);
  border-radius: var(--border-radius-1);
  gap: var(--space-2);
  padding: var(--space-2);
}
:is(body, *)[nuke-style="2"] nav a,
nav[nuke-style="2"] a {
  padding: var(--space-1) var(--space-2);
  border-radius: var(--border-radius-1);
}
:is(body, *)[nuke-style="2"] nav a:hover,
nav[nuke-style="2"] a:hover {
  background: var(--background-3);
}
