nav {
  padding: var(--nav-padding);
  display: flex;
  gap: var(--nav-gap);
}
nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  transition: color var(--nav-link-transition), background-color var(--nav-link-transition);
}
nav a:hover {
  color: var(--nav-link-hover-color);
}
:is(body, *)[nuke-style="1"] nav,
nav[nuke-style="1"] {
  display: flex;
  flex-direction: row;
  background: var(--nav-1-bg);
  gap: var(--nav-1-gap);
  padding: var(--nav-padding);
}
:is(body, *)[nuke-style="1"] nav a,
nav[nuke-style="1"] a {
  position: relative;
  padding: 0;
}
:is(body, *)[nuke-style="1"] nav a:not(:last-child)::after,
nav[nuke-style="1"] a:not(:last-child)::after {
  content: '/';
  color: var(--nav-1-link-separator);
  margin-left: var(--nav-1-gap);
  pointer-events: none;
}
:is(body, *)[nuke-style="1"] nav a:hover,
nav[nuke-style="1"] a:hover {
  color: var(--nav-1-link-hover-color);
}
:is(body, *)[nuke-style="2"] nav,
nav[nuke-style="2"] {
  display: flex;
  flex-direction: row;
  background: var(--nav-2-bg);
  gap: var(--nav-2-gap);
  padding: var(--nav-padding);
}
:is(body, *)[nuke-style="2"] nav a,
nav[nuke-style="2"] a {
  padding: var(--nav-2-link-padding);
  border-radius: var(--nav-2-link-radius);
}
:is(body, *)[nuke-style="2"] nav a:hover,
nav[nuke-style="2"] a:hover {
  background: var(--nav-2-link-hover-bg);
  color: var(--nav-2-link-hover-color);
}
:is(body, *)[nuke-style="3"] nav,
nav[nuke-style="3"] {
  display: flex;
  flex-direction: row;
  background: var(--nav-3-bg);
  border-bottom: 1px solid var(--nav-3-border);
  gap: var(--nav-3-gap);
  padding: var(--nav-3-padding);
}
:is(body, *)[nuke-style="3"] nav a,
nav[nuke-style="3"] a {
  padding: var(--nav-3-link-padding);
  border-radius: var(--nav-3-link-radius);
}
:is(body, *)[nuke-style="3"] nav a:hover,
nav[nuke-style="3"] a:hover {
  background: var(--nav-3-link-hover-bg);
  color: var(--nav-3-link-hover-color);
}
