nuke-tabs {
  display: block;
}
nuke-tab {
  display: inline-block;
  padding: var(--tab-padding-y) var(--tab-padding-x);
  font-size: var(--tab-font-size);
  font-weight: var(--tab-font-weight);
  color: var(--tab-color);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: var(--tab-transition);
  user-select: none;
  margin-right: var(--tabs-gap);
}
nuke-tab:hover {
  color: var(--tab-color-active);
}
nuke-tab[aria-selected="true"] {
  color: var(--tab-color-active);
}
nuke-tab:focus {
  outline: 2px solid var(--color-1);
  outline-offset: 2px;
}
nuke-tab-panel {
  display: block;
  padding: var(--tab-panel-padding);
}
nuke-tab-panel[aria-hidden="true"] {
  display: none;
}
nuke-tabs:is(.nuke-style-1, [nuke-style="1"]) {
  border-bottom: var(--tabs-1-border-bottom);
}
nuke-tabs:is(.nuke-style-1, [nuke-style="1"]) nuke-tab {
  background: var(--tab-1-background);
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
}
nuke-tabs:is(.nuke-style-1, [nuke-style="1"]) nuke-tab:hover {
  background: var(--tab-1-background-hover);
}
nuke-tabs:is(.nuke-style-1, [nuke-style="1"]) nuke-tab[aria-selected="true"] {
  border-bottom: var(--tab-1-border-active);
}
nuke-tabs:is(.nuke-style-2, [nuke-style="2"]) {
  background: var(--tabs-2-background);
}
nuke-tabs:is(.nuke-style-2, [nuke-style="2"]) nuke-tab {
  background: var(--tab-2-background);
  border-radius: var(--tab-2-radius);
}
nuke-tabs:is(.nuke-style-2, [nuke-style="2"]) nuke-tab:hover {
  background: var(--tab-2-background-hover);
}
nuke-tabs:is(.nuke-style-2, [nuke-style="2"]) nuke-tab[aria-selected="true"] {
  background: var(--tab-2-background-active);
  color: var(--tab-2-color-active);
}
nuke-tabs:is(.nuke-style-2, [nuke-style="2"]) nuke-tab-panel {
  background: var(--tab-panel-2-background);
}
nuke-tabs:is(.nuke-style-3, [nuke-style="3"]) {
  border: var(--tabs-3-wrapper-border);
}
nuke-tabs:is(.nuke-style-3, [nuke-style="3"]) nuke-tab {
  background: var(--tab-3-background);
  border: var(--tab-3-border);
  border-radius: var(--tab-3-radius) var(--tab-3-radius) 0 0;
  margin-right: var(--space-1);
  margin-bottom: -2px;
}
nuke-tabs:is(.nuke-style-3, [nuke-style="3"]) nuke-tab[aria-selected="true"] {
  background: var(--tab-3-background-active);
  border: var(--tab-3-border-active);
  border-bottom-color: var(--tab-3-background-active);
}
nuke-tabs:is(.nuke-style-3, [nuke-style="3"]) nuke-tab-panel {
  background: var(--tab-panel-3-background);
  border-left: var(--tab-panel-3-border);
  border-bottom: var(--tab-panel-3-border);
  border-right: var(--tab-panel-3-border);
  box-shadow: var(--tab-panel-3-shadow);
}
