/* Tabs */
nuke-tabs {
  display: block;
}
nuke-tab {
  display: inline-block;
  padding: var(--space-1) var(--space-2);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-medium);
  color: var(--on-background-light);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all var(--transition-fast);
  user-select: none;
  margin-right: var(--space-1);
}
nuke-tab:hover {
  color: var(--on-background);
}
nuke-tab[aria-selected="true"] {
  color: var(--on-background);
}
nuke-tab:focus {
  outline: 2px solid var(--color-1);
  outline-offset: 2px;
}
nuke-tab-panel {
  display: block;
  padding: var(--space-2);
}
nuke-tab-panel[aria-hidden="true"] {
  display: none;
}

/* Style 1 - Outlined */
:is(body, *)[nuke-style="1"] nuke-tabs,
nuke-tabs[nuke-style="1"] {
  border: none;
}
:is(body, *)[nuke-style="1"] nuke-tabs nuke-tab,
nuke-tabs[nuke-style="1"] nuke-tab {
  background: transparent;
  border: 1px solid var(--border-color-1);
  border-radius: var(--border-radius-1);
  margin-right: var(--space-1);
}
:is(body, *)[nuke-style="1"] nuke-tabs nuke-tab:hover,
nuke-tabs[nuke-style="1"] nuke-tab:hover {
  background: var(--background-3);
}
:is(body, *)[nuke-style="1"] nuke-tabs nuke-tab[aria-selected="true"],
nuke-tabs[nuke-style="1"] nuke-tab[aria-selected="true"] {
  background: var(--background-3);
  border-color: var(--on-background);
}

/* Style 2 - Filled with border */
:is(body, *)[nuke-style="2"] nuke-tabs,
nuke-tabs[nuke-style="2"] {
  border: none;
}
:is(body, *)[nuke-style="2"] nuke-tabs nuke-tab,
nuke-tabs[nuke-style="2"] nuke-tab {
  background: var(--background-4);
  border: 1px solid var(--border-color-1);
  border-radius: var(--border-radius-1);
  margin-right: var(--space-1);
}
:is(body, *)[nuke-style="2"] nuke-tabs nuke-tab:hover,
nuke-tabs[nuke-style="2"] nuke-tab:hover {
  background: var(--background-3);
}
:is(body, *)[nuke-style="2"] nuke-tabs nuke-tab[aria-selected="true"],
nuke-tabs[nuke-style="2"] nuke-tab[aria-selected="true"] {
  background: var(--background-3);
  border-color: var(--on-background);
}
