:root {
  /* core */
  --link-color: var(--on-background);
  --link-decoration: none;
  --link-transition: var(--transition-fast);
  --link-hover-color: var(--color-1);
  --link-hover-decoration: underline;
  --link-focus-color: var(--color-1);

  /* style 1 */
  --link-1-color: var(--on-background);
  --link-1-decoration: none;
  --link-1-hover-color: var(--color-1);
  --link-1-hover-decoration: underline;

  /* style 2 */
  --link-2-color: var(--on-background);
  --link-2-decoration: none;
  --link-2-hover-color: var(--color-1);
  --link-2-hover-decoration: none;

  /* style 3 */
  --link-3-color: var(--on-background);
  --link-3-decoration: underline;
  --link-3-decoration-thickness: 0.05em;
  --link-3-hover-color: var(--color-1);
  --link-3-hover-decoration: underline;
}
