:is(body, *)[nuke-style="1"] ul,
ul[nuke-style="1"] {
  list-style-type: var(--ul-1-list-style);
  padding-left: var(--ul-1-padding-left);
}
:is(body, *)[nuke-style="1"] ul li,
ul[nuke-style="1"] li {
  margin-bottom: var(--ul-1-item-margin);
}
:is(body, *)[nuke-style="2"] ul,
ul[nuke-style="2"] {
  list-style: var(--ul-2-list-style);
  padding-left: var(--ul-2-padding-left);
}
:is(body, *)[nuke-style="2"] ul li,
ul[nuke-style="2"] li {
  background: var(--ul-2-item-bg);
  padding: var(--ul-2-item-padding);
  margin-bottom: var(--ul-2-item-margin);
  border-radius: var(--ul-2-item-radius);
}
:is(body, *)[nuke-style="3"] ul,
ul[nuke-style="3"] {
  list-style: var(--ul-3-list-style);
  padding-left: var(--ul-3-padding-left);
}
:is(body, *)[nuke-style="3"] ul li,
ul[nuke-style="3"] li {
  background: var(--ul-3-item-bg);
  border: var(--ul-3-item-border);
  padding: var(--ul-3-item-padding);
  margin-bottom: var(--ul-3-item-margin);
  border-radius: var(--ul-3-item-radius);
}
