:root {
  /* core */
  --label-display: block;
  --label-font-size: var(--font-size-1);
  --label-font-weight: var(--font-weight-medium);
  --label-color: var(--on-background);
  --label-margin-bottom: var(--space-1);

  /* style 1 */
  --label-1-font-weight: var(--font-weight-normal);
  --label-1-color: var(--on-background-light);
  --label-1-font-size: var(--font-size-1);

  /* style 2 */
  --label-2-font-weight: var(--font-weight-medium);
  --label-2-color: var(--on-background);
  --label-2-font-size: var(--font-size-1);

  /* style 3 */
  --label-3-font-weight: var(--font-weight-bold);
  --label-3-color: var(--on-background);
  --label-3-font-size: var(--font-size-1);
  --label-3-transform: uppercase;
  --label-3-letter-spacing: 0.02em;
}
