:root {
  /* core */
  --select-height: var(--height-2);
  --select-padding-x: var(--space-2);
  --select-font-size: var(--font-size-2);
  --select-radius: var(--border-radius);
  --select-transition: var(--transition-fast);
  --select-bg: var(--background-2);
  --select-color: var(--on-background);
  --select-border: var(--border-color-1);
  --select-focus-border: var(--on-background);

  /* style 1 */
  --select-1-bg: transparent;
  --select-1-color: var(--on-background);
  --select-1-border: var(--border-color-2);
  --select-1-focus-bg: var(--background-2);
  --select-1-focus-border: var(--on-background);

  /* style 2 */
  --select-2-bg: var(--background-4);
  --select-2-color: var(--on-background);
  --select-2-focus-bg: var(--background-3);

  /* style 3 */
  --select-3-bg: var(--background-4);
  --select-3-color: var(--on-background);
  --select-3-border: var(--border-color-1);
  --select-3-focus-bg: var(--background-4);
  --select-3-focus-border: var(--on-background);
}
