*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  height: 100%;
  background: var(--background-1);
}
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--background-1);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
#root, #__next {
  isolation: isolate;
}
ul, ol {
  margin: 0;
  padding: 0 0 0 1rem;
}
