/* Horizontal Rule */
hr {
  margin: var(--space-3) 0;
  border: none;
}

/* Style 1 - Thin line */
:is(body, *)[nuke-style="1"] hr,
hr[nuke-style="1"] {
  border-top: 1px solid var(--border-color-1);
  opacity: 0.3;
}

/* Style 2 - Gradient fade */
:is(body, *)[nuke-style="2"] hr,
hr[nuke-style="2"] {
  height: calc(var(--space-1) / 2);
  background: linear-gradient(to right, transparent, var(--border-color-1), transparent);
  opacity: 1;
}

/* Style 3 - Thick bar */
:is(body, *)[nuke-style="3"] hr,
hr[nuke-style="3"] {
  border-top: 3px solid var(--border-color-1);
  background: var(--background-3);
  height: var(--space-1);
  opacity: 1;
}
