hr {
  margin: var(--hr-margin);
  border: none;
}
:is(body, *)[nuke-style="1"] hr,
hr[nuke-style="1"] {
  border-top: var(--hr-1-border-width) solid var(--hr-border-color);
  opacity: var(--hr-1-opacity);
}
:is(body, *)[nuke-style="2"] hr,
hr[nuke-style="2"] {
  height: var(--hr-2-height);
  background: var(--hr-2-bg);
  opacity: var(--hr-2-opacity);
}
:is(body, *)[nuke-style="3"] hr,
hr[nuke-style="3"] {
  border-top: var(--hr-3-border-width) solid var(--hr-border-color);
  background: var(--hr-3-bg);
  height: var(--hr-3-height);
  opacity: var(--hr-3-opacity);
}
