/* Range */
input[type="range"] {
  appearance: none;
  width: 100%;
  height: var(--controls-height);
  background: transparent;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--unit);
  background: var(--border-color-1);
  border-radius: var(--border-radius-1);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: var(--unit);
  background: var(--border-color-1);
  border-radius: var(--border-radius-1);
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: calc(var(--controls-height) * 0.6);
  height: calc(var(--controls-height) * 0.6);
  background: var(--on-background);
  border: 2px solid var(--on-background);
  border-radius: 50%;
  cursor: pointer;
  margin-top: calc((var(--unit) - var(--controls-height) * 0.6) / 2);
  transition: background var(--transition-fast), transform var(--transition-fast);
}
input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: calc(var(--controls-height) * 0.6);
  height: calc(var(--controls-height) * 0.6);
  background: var(--on-background);
  border: 2px solid var(--on-background);
  border-radius: 50%;
  cursor: pointer;
  transition: background var(--transition-fast), transform var(--transition-fast);
}
input[type="range"]:hover::-webkit-slider-thumb {
  transform: scale(1.1);
}
input[type="range"]:hover::-moz-range-thumb {
  transform: scale(1.1);
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px hsla(210, 100%, 50%, 0.2);
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 3px hsla(210, 100%, 50%, 0.2);
}

/* Style 1 - Outlined thin track */
:is(body, *)[nuke-style="1"] input[type="range"]::-webkit-slider-runnable-track,
input[type="range"][nuke-style="1"]::-webkit-slider-runnable-track {
  height: 2px;
  background: var(--border-color-2);
}
:is(body, *)[nuke-style="1"] input[type="range"]::-moz-range-track,
input[type="range"][nuke-style="1"]::-moz-range-track {
  height: 2px;
  background: var(--border-color-2);
}
:is(body, *)[nuke-style="1"] input[type="range"]::-webkit-slider-thumb,
input[type="range"][nuke-style="1"]::-webkit-slider-thumb {
  width: calc(var(--controls-height) * 0.6);
  height: calc(var(--controls-height) * 0.6);
  background: var(--on-background);
  border: 1px solid var(--on-background);
  margin-top: calc((2px - var(--controls-height) * 0.6) / 2);
}
:is(body, *)[nuke-style="1"] input[type="range"]::-moz-range-thumb,
input[type="range"][nuke-style="1"]::-moz-range-thumb {
  width: calc(var(--controls-height) * 0.6);
  height: calc(var(--controls-height) * 0.6);
  background: var(--on-background);
  border: 1px solid var(--on-background);
}

/* Style 2 - Filled with border */
:is(body, *)[nuke-style="2"] input[type="range"]::-webkit-slider-runnable-track,
input[type="range"][nuke-style="2"]::-webkit-slider-runnable-track {
  height: var(--unit);
  background: var(--background-4);
  border: 1px solid var(--border-color-1);
}
:is(body, *)[nuke-style="2"] input[type="range"]::-moz-range-track,
input[type="range"][nuke-style="2"]::-moz-range-track {
  height: var(--unit);
  background: var(--background-4);
  border: 1px solid var(--border-color-1);
}
:is(body, *)[nuke-style="2"] input[type="range"]::-webkit-slider-thumb,
input[type="range"][nuke-style="2"]::-webkit-slider-thumb {
  width: calc(var(--controls-height) * 0.6);
  height: calc(var(--controls-height) * 0.6);
  background: var(--on-background);
  border: 1px solid var(--border-color-1);
  margin-top: calc((var(--unit) - var(--controls-height) * 0.6) / 2);
}
:is(body, *)[nuke-style="2"] input[type="range"]::-moz-range-thumb,
input[type="range"][nuke-style="2"]::-moz-range-thumb {
  width: calc(var(--controls-height) * 0.6);
  height: calc(var(--controls-height) * 0.6);
  background: var(--on-background);
  border: 1px solid var(--border-color-1);
}
