/* Image */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Style 1 - Bordered */
:is(body, *)[nuke-style="1"] img,
img[nuke-style="1"] {
  border: 1px solid var(--border-color-1);
  border-radius: var(--border-radius-1);
}

/* Style 2 - Bordered with shadow */
:is(body, *)[nuke-style="2"] img,
img[nuke-style="2"] {
  border: 1px solid var(--border-color-1);
  box-shadow: var(--box-shadow-1);
  border-radius: var(--border-radius-1);
}
