input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="date"],
input[type="time"],
input[type="datetime-local"] {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  width: 100%;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="date"],
input[type="time"],
input[type="datetime-local"] {
  display: block;
  width: 100%;
  height: var(--input-height);
  padding: 0 var(--input-padding-x);
  font-size: var(--input-font-size);
  color: var(--input-color);
  border-radius: var(--input-radius);
  transition:
    border-color var(--input-transition),
    background-color var(--input-transition),
    box-shadow var(--input-transition);
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder,
input[type="url"]::placeholder,
input[type="tel"]::placeholder,
input[type="search"]::placeholder {
  color: var(--input-placeholder);
}
:is(input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="url"], input[type="tel"], input[type="search"], input[type="date"], input[type="time"], input[type="datetime-local"]):is(.nuke-style-1, [nuke-style="1"]) {
  background: var(--input-1-bg);
  border: 1px solid var(--input-1-border);
  border-bottom: 1px solid var(--input-1-border-bottom);
  border-radius: 0;
}
:is(input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="url"], input[type="tel"], input[type="search"], input[type="date"], input[type="time"], input[type="datetime-local"]):is(.nuke-style-1, [nuke-style="1"]):focus {
  outline: none;
  border-bottom-color: var(--input-1-focus-border-bottom);
  box-shadow: none;
}
:is(input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="url"], input[type="tel"], input[type="search"], input[type="date"], input[type="time"], input[type="datetime-local"]):is(.nuke-style-2, [nuke-style="2"]) {
  background: var(--input-2-bg);
  border: none;
}
:is(input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="url"], input[type="tel"], input[type="search"], input[type="date"], input[type="time"], input[type="datetime-local"]):is(.nuke-style-2, [nuke-style="2"]):focus {
  outline: none;
  background: var(--input-2-focus-bg);
  box-shadow: 0 0 0 3px hsla(210, 60%, 50%, 0.08);
}
:is(input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="url"], input[type="tel"], input[type="search"], input[type="date"], input[type="time"], input[type="datetime-local"]):is(.nuke-style-3, [nuke-style="3"]) {
  background: var(--input-3-bg);
  border: 1px solid var(--input-3-border);
}
:is(input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="url"], input[type="tel"], input[type="search"], input[type="date"], input[type="time"], input[type="datetime-local"]):is(.nuke-style-3, [nuke-style="3"]):focus {
  outline: none;
  border-color: var(--input-3-focus-border);
  box-shadow: 0 0 0 3px hsla(210, 60%, 50%, 0.1);
}
input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled,
input[type="url"]:disabled,
input[type="tel"]:disabled,
input[type="search"]:disabled,
input[type="date"]:disabled,
input[type="time"]:disabled,
input[type="datetime-local"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
