:root {
  /* core */
  --details-border: var(--border-1);
  --details-radius: var(--border-radius);
  --details-bg: var(--background-2);
  --details-padding: var(--space-2);
  --details-margin-bottom: var(--space-2);
  --details-transition: var(--transition-fast);
  --details-summary-font-weight: var(--font-weight-medium);
  --details-summary-color: var(--on-background);
  --details-summary-padding: var(--space-2);
  --details-summary-hover-bg: var(--background-3);
  --details-content-margin-top: var(--space-2);

  /* style 1 */
  --details-1-border: transparent;
  --details-1-bg: transparent;
  --details-1-padding: var(--space-2) 0;
  --details-1-summary-hover-bg: transparent;
  --details-1-summary-hover-color: var(--color-1);
  --details-1-open-border-bottom: var(--border-1);

  /* style 2 */
  --details-2-border: transparent;
  --details-2-bg: transparent;
  --details-2-padding: var(--space-2);
  --details-2-radius: var(--border-radius);
  --details-2-summary-hover-bg: var(--background-2);
  --details-2-open-bg: var(--background-2);

  /* style 3 */
  --details-3-border: var(--border-1);
  --details-3-border-width: 1px;
  --details-3-bg: transparent;
  --details-3-padding: var(--space-2);
  --details-3-radius: var(--border-radius);
  --details-3-summary-hover-bg: var(--background-2);
  --details-3-open-bg: var(--background-2);
  --details-3-open-border: var(--border-1);
}
