/* Toolbar */
nuke-toolbar {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  padding: var(--space-1);
  background: transparent;
  border-radius: var(--border-radius-1);
  flex-wrap: wrap;
}

/* Style 1 - Outlined */
:is(body, *)[nuke-style="1"] nuke-toolbar,
nuke-toolbar[nuke-style="1"] {
  background: transparent;
  border: 1px solid var(--border-color-1);
  padding: var(--space-1);
}

/* Style 2 - Filled */
:is(body, *)[nuke-style="2"] nuke-toolbar,
nuke-toolbar[nuke-style="2"] {
  background: var(--background-4);
  border: none;
  padding: var(--space-1);
}

/* Style 3 - Filled with border */
:is(body, *)[nuke-style="3"] nuke-toolbar,
nuke-toolbar[nuke-style="3"] {
  background: var(--background-4);
  border: 2px solid var(--border-color-1);
  padding: var(--space-1);
}

nuke-toolbar + nuke-toolbar {
  margin-top: var(--space-2);
}
