nuke-toolbar {
  display: flex;
  align-items: center;
  gap: var(--toolbar-gap);
  padding: var(--toolbar-padding);
  background: var(--toolbar-background);
  border-radius: var(--toolbar-radius);
  flex-wrap: wrap;
}
:is(body, *)[nuke-style="1"] nuke-toolbar,
nuke-toolbar[nuke-style="1"] {
  background: var(--toolbar-1-background);
  border: var(--toolbar-1-border);
  border-bottom: var(--toolbar-1-border-bottom);
  padding: var(--toolbar-1-padding);
}
:is(body, *)[nuke-style="2"] nuke-toolbar,
nuke-toolbar[nuke-style="2"] {
  background: var(--toolbar-2-background);
  border: var(--toolbar-2-border);
  padding: var(--toolbar-2-padding);
}
:is(body, *)[nuke-style="3"] nuke-toolbar,
nuke-toolbar[nuke-style="3"] {
  background: var(--toolbar-3-background);
  border: var(--toolbar-3-border);
  padding: var(--toolbar-3-padding);
}
nuke-toolbar + nuke-toolbar {
  margin-top: var(--space-2);
}
