:root {
  /* core */
  --toolbar-gap: var(--space-1);
  --toolbar-padding: var(--space-1);
  --toolbar-radius: var(--border-radius);
  --toolbar-background: transparent;

  /* style 1 */
  --toolbar-1-background: transparent;
  --toolbar-1-border: none;
  --toolbar-1-border-bottom: 1px solid var(--border-color-1);
  --toolbar-1-padding: var(--space-1) 0;

  /* style 2 */
  --toolbar-2-background: var(--background-3);
  --toolbar-2-border: none;
  --toolbar-2-padding: var(--space-1);

  /* style 3 */
  --toolbar-3-background: var(--background-2);
  --toolbar-3-border: 1px solid var(--border-color-1);
  --toolbar-3-padding: var(--space-1);
}
