:root {
  /* core */
  --code-padding: calc(var(--space-1) / 3) var(--space-1);
  --code-bg: var(--background-3);
  --code-color: var(--on-background);
  --code-font-family: 'Monaco', 'Courier New', monospace;
  --code-font-size: var(--font-size-1);
  --code-radius: var(--border-radius-small);

  /* style 1 */
  --code-1-bg: var(--background-3);
  --code-1-color: var(--on-background);
  --code-1-border: 1px solid var(--border-color-1);

  /* style 2 */
  --code-2-bg: var(--background-3);
  --code-2-color: var(--on-background);
  --code-2-border: none;

  /* style 3 */
  --code-3-bg: var(--background-2);
  --code-3-color: var(--on-background);
  --code-3-border: 1px solid var(--border-color-1);
}
