/* Code */
code {
  padding: calc(var(--unit) / 3) var(--unit);
  background: var(--background-3);
  color: var(--color-text-1);
  font-family: var(--family-mono);
  font-size: calc(var(--text-base) * 0.9);
  border-radius: var(--border-radius-1);
}

/* Style 1 - Outlined */
:is(body, *)[nuke-style="1"] code,
code[nuke-style="1"] {
  background: transparent;
  color: var(--color-text-1);
  border: 1px solid var(--border-color-1);
}

/* Style 2 - Filled with border */
:is(body, *)[nuke-style="2"] code,
code[nuke-style="2"] {
  background: var(--background-4);
  color: var(--color-text-1);
  border: 1px solid var(--border-color-1);
}
