code {
  padding: var(--code-padding);
  background: var(--code-bg);
  color: var(--code-color);
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
  border-radius: var(--code-radius);
}
code:is(.nuke-style-1, [nuke-style="1"]) {
  background: var(--code-1-bg);
  color: var(--code-1-color);
  border: var(--code-1-border);
}
code:is(.nuke-style-2, [nuke-style="2"]) {
  background: var(--code-2-bg);
  color: var(--code-2-color);
  border: var(--code-2-border);
}
code:is(.nuke-style-3, [nuke-style="3"]) {
  background: var(--code-3-bg);
  color: var(--code-3-color);
  border: var(--code-3-border);
}
