:root {
  /* core */
  --toast-min-width: 300px;
  --toast-max-width: 500px;
  --toast-padding: var(--space-2);
  --toast-radius: var(--border-radius);
  --toast-shadow: var(--box-shadow-2);
  --toast-font-size: var(--font-size-2);
  --toast-z-index: 1000;
  --toast-container-position-top: calc(var(--height-3) + var(--space-2));
  --toast-container-position-right: var(--space-2);
  --toast-container-gap: var(--space-1);
  --toast-close-size: calc(var(--height-1) * 0.8);
  --toast-close-color: currentColor;

  /* style 1 */
  --toast-1-background: var(--background-2);
  --toast-1-color: var(--on-background);
  --toast-1-border: 1px solid var(--border-color-2);
  --toast-1-shadow: none;

  /* style 2 */
  --toast-2-background: var(--background-2);
  --toast-2-color: var(--on-background);
  --toast-2-border: none;
  --toast-2-shadow: var(--box-shadow-2);

  /* style 3 */
  --toast-3-background: var(--background-2);
  --toast-3-color: var(--on-background);
  --toast-3-border: 2px solid var(--border-color-1);
  --toast-3-shadow: var(--box-shadow-3);
}
