label {
  display: var(--label-display);
  font-size: var(--label-font-size);
  font-weight: var(--label-font-weight);
  color: var(--label-color);
  margin-bottom: var(--label-margin-bottom);
  cursor: pointer;
}
label:is(.nuke-style-1, [nuke-style="1"]) {
  font-weight: var(--label-1-font-weight);
  color: var(--label-1-color);
  font-size: var(--label-1-font-size);
}
label:is(.nuke-style-2, [nuke-style="2"]) {
  font-weight: var(--label-2-font-weight);
  color: var(--label-2-color);
  font-size: var(--label-2-font-size);
}
label:is(.nuke-style-3, [nuke-style="3"]) {
  font-weight: var(--label-3-font-weight);
  color: var(--label-3-color);
  font-size: var(--label-3-font-size);
  text-transform: var(--label-3-transform);
  letter-spacing: var(--label-3-letter-spacing);
}
label:has(input:disabled),
label:has(select:disabled),
label:has(textarea:disabled) {
  opacity: 0.5;
  cursor: not-allowed;
}
