:root {
  /* core */
  --progress-height: calc(var(--height-1) / 2.5);
  --progress-radius: var(--border-radius);
  --progress-bg: var(--background-3);
  --progress-fill: var(--on-background);
  --progress-transition: var(--transition-fast);

  /* style 1 */
  --progress-1-height: calc(var(--height-1) / 7.5);
  --progress-1-bg: var(--background-3);
  --progress-1-fill: var(--on-background);

  /* style 2 */
  --progress-2-height: calc(var(--height-1) / 3.75);
  --progress-2-bg: var(--background-3);
  --progress-2-fill: var(--on-background);

  /* style 3 */
  --progress-3-height: calc(var(--height-1) / 2.5);
  --progress-3-bg: var(--background-3);
  --progress-3-fill: var(--on-background);
  --progress-3-border: var(--border-color-1);
}
