nuke-badge {
  display: inline-block;
  padding: var(--badge-padding-y) var(--badge-padding-x);
  font-size: var(--badge-font-size);
  font-weight: var(--badge-font-weight);
  line-height: var(--badge-line-height);
  border-radius: var(--badge-radius);
  vertical-align: middle;
  white-space: nowrap;
}
:is(body, *)[nuke-style="1"] nuke-badge,
nuke-badge[nuke-style="1"] {
  background: var(--badge-1-background);
  color: var(--badge-1-color);
  border: var(--badge-1-border);
}
:is(body, *)[nuke-style="2"] nuke-badge,
nuke-badge[nuke-style="2"] {
  background: var(--badge-2-background);
  color: var(--badge-2-color);
  border: var(--badge-2-border);
}
:is(body, *)[nuke-style="3"] nuke-badge,
nuke-badge[nuke-style="3"] {
  background: var(--badge-3-background);
  color: var(--badge-3-color);
  border: var(--badge-3-border);
}
