:root {
  /* core */
  --badge-padding-x: var(--space-1);
  --badge-padding-y: calc(var(--space-1) / 2);
  --badge-font-size: var(--font-size-2);
  --badge-font-weight: 600;
  --badge-radius: var(--border-radius-small);
  --badge-line-height: 1;

  /* style 1 */
  --badge-1-background: transparent;
  --badge-1-color: var(--on-background);
  --badge-1-border: 1px solid var(--border-2);

  /* style 2 */
  --badge-2-background: var(--background-4);
  --badge-2-color: var(--on-background);
  --badge-2-border: none;

  /* style 3 */
  --badge-3-background: var(--on-background);
  --badge-3-color: var(--background-1);
  --badge-3-border: 1px solid var(--on-background);
}
