ol:is(.nuke-style-1, [nuke-style="1"]) {
  list-style-type: var(--ol-1-list-style);
  padding-left: var(--ol-1-padding-left);
}
ol:is(.nuke-style-1, [nuke-style="1"]) li {
  margin-bottom: var(--ol-1-item-margin);
}
ol:is(.nuke-style-2, [nuke-style="2"]) {
  list-style: var(--ol-2-list-style);
  padding-left: var(--ol-2-padding-left);
  counter-reset: ol-counter-2;
}
ol:is(.nuke-style-2, [nuke-style="2"]) li {
  background: var(--ol-2-item-bg);
  padding: var(--ol-2-item-padding);
  margin-bottom: var(--ol-2-item-margin);
  border-radius: var(--ol-2-item-radius);
  padding-left: var(--ol-2-number-padding-left);
  position: relative;
  counter-increment: ol-counter-2;
}
ol:is(.nuke-style-2, [nuke-style="2"]) li::before {
  content: counter(ol-counter-2) ".";
  position: absolute;
  left: var(--space-2);
}
ol:is(.nuke-style-3, [nuke-style="3"]) {
  list-style: var(--ol-3-list-style);
  padding-left: var(--ol-3-padding-left);
  counter-reset: ol-counter-3;
}
ol:is(.nuke-style-3, [nuke-style="3"]) li {
  background: var(--ol-3-item-bg);
  border: var(--ol-3-item-border);
  padding: var(--ol-3-item-padding);
  margin-bottom: var(--ol-3-item-margin);
  border-radius: var(--ol-3-item-radius);
  padding-left: var(--ol-3-number-padding-left);
  position: relative;
  counter-increment: ol-counter-3;
}
ol:is(.nuke-style-3, [nuke-style="3"]) li::before {
  content: counter(ol-counter-3) ".";
  position: absolute;
  left: var(--space-2);
}
