:root {
  /* core */
  --ol-margin: 0 0 var(--list-margin-bottom) 0;
  --ol-padding-left: var(--list-padding-left);
  --ol-item-margin: var(--list-item-margin-bottom);

  /* style 1 */
  --ol-1-list-style: decimal;
  --ol-1-padding-left: var(--space-3);
  --ol-1-item-margin: var(--space-1);

  /* style 2 */
  --ol-2-list-style: none;
  --ol-2-padding-left: 0;
  --ol-2-item-bg: var(--background-3);
  --ol-2-item-padding: var(--space-1) var(--space-2);
  --ol-2-item-margin: var(--space-1);
  --ol-2-item-radius: var(--border-radius-small);
  --ol-2-number-padding-left: var(--space-4);

  /* style 3 */
  --ol-3-list-style: none;
  --ol-3-padding-left: 0;
  --ol-3-item-bg: var(--background-2);
  --ol-3-item-border: 1px solid var(--border-color-1);
  --ol-3-item-padding: var(--space-2);
  --ol-3-item-margin: var(--space-1);
  --ol-3-item-radius: var(--border-radius);
  --ol-3-number-padding-left: var(--space-4);
}
